<div class="jumbotron">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-4 reg_log">
      <a class="col-sm-4 btn text-center" id="register" href="/Register">Register</a>
      <a class="col-sm-4 btn text-center" id="login" href="/Session">Login</a>
    </div>
  </div>
 <h5>&copy; 2018</h5>
</div>
